@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: #f2eed1;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

body.active {
    background: #c3b649;
}

.container {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
}

.back {
    position: absolute;
    width: 100%;
    top: 40px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.15);
}

.back .box {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back .box h2 {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    color: #111111;
}

.back .box button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
    color: #ffffff;
}

.formA {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #c3b649;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(255, 255, 255, 0.25);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

.formA.active {
    left: 50%;
    background: #f2eed1;
}

.formA .form {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;
}

.formA .signinForm {
    transition-delay: 0.25s;
}

.formA.active .signinForm {
    left: -100%;
    transition-delay: 0s;
}

.formA .signupForm {
    left: 100%;
    transition-delay: 0s;
}

.formA.active .signupForm {
    left: 0;
    transition-delay: 0.25s;
}

.formA .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formA .form form h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}

.formA .form form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}

.formA .form form input[type="submit"] {
    background: #f2eed1;
    border: none;
    color: #111111;
    max-width: 100px;
    cursor: pointer;
}

.formA .form form .forget {
    color: #333;
}

.formA.active .form form input[type="submit"] {
    background: #c3b649;
    color: #ffffff;
}

@media (max-width: 991px) {
    .container {
        max-width: 400px;
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container .back {
        top: 0;
        height: 100%;
    }

    .back .box {
        position: absolute;
        width: 100%;
        height: 150px;
        bottom: 0;
    }

    .box.signin {
        top: 0;
    }

    .formA {
        width: 100%;
        height: 500px;
        top: 0;
        box-shadow: none;
    }

    .formA.active {
        left: 0;
        top: 150px;
    }
}